
{%extends 'base.html' %}
{% block nav_right %}
{%if logged_in %}
	<li><a href="/admin"><span class="glyphicon glyphicon-user"></span> {{username}}</a></li>
	<li><a href="/logout"><span class="glyphicon glyphicon-user"></span> Log out</a></li>
{%endif%}
{% endblock %}

{%block content%}
{%if logged_in %}
<a>dd</a>
{%else%}
<div id="signupbox" style=" margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
	<div class="panel panel-info">
		<div class="panel-heading">
			<div class="panel-title">Sign Up</div>
			<div style="float:right; font-size: 85%; position: relative; top:-10px"><a id="signinlink" href="/login">Sign In</a></div>
		</div>  
		<div class="panel-body" >
			<form method="post" action="/register">
				<input type='hidden' name='csrfmiddlewaretoken' value='XFe2rTYl9WOpV8U6X5CfbIuOZOELJ97S' />
						

				<!-- <form  class="form-horizontal" method="post" > -->
					
					<div id="div_id_username" class="form-group required">
						<label for="id_username" class="control-label col-md-4  requiredField"> Username<span class="asteriskField">*</span> </label>
						<div class="controls col-md-8 ">
							<input class="input-md  textinput textInput form-control" id="username" maxlength="30" name="username" placeholder="Choose your username" style="margin-bottom: 10px" type="text" required/>
						</div>
					</div>
					<div id="div_id_email" class="form-group required">
						<label for="id_email" class="control-label col-md-4  requiredField"> E-mail<span class="asteriskField">*</span> </label>
						<div class="controls col-md-8 ">
							<input class="input-md emailinput form-control" id="email" name="email" placeholder="Your current email address" style="margin-bottom: 10px" type="email" required/>
						</div>     
					</div>
					<div id="div_id_password1" class="form-group required">
						<label for="id_password1" class="control-label col-md-4  requiredField">Password<span class="asteriskField">*</span> </label>
						<div class="controls col-md-8 "> 
							<input class="input-md textinput textInput form-control" id="password" name="password" placeholder="Create a password" style="margin-bottom: 10px" type="password" required/>
						</div>
					</div>
				
					<div id="div_id_name" class="form-group required"> 
						<label for="id_name" class="control-label col-md-4  requiredField"> Full name<span class="asteriskField">*</span> </label> 
						<div class="controls col-md-8 "> 
							<input class="input-md textinput textInput form-control" id="name" name="name" placeholder="Your Frist name and Last name" style="margin-bottom: 10px" type="text" required/>
						</div>
					</div>
					<div id="div_id_fb" class="form-group required"> 
							<label for="id_name" class="control-label col-md-4  requiredField">Facebook Profile<span class="asteriskField">*</span> </label> 
							<div class="controls col-md-8 "> 
								<input class="input-md textinput textInput form-control" id="facebook" name="facebook" placeholder="Your Frist name and Last name" style="margin-bottom: 10px" type="text" required/>
							</div>
						</div>
						<div id="div_id_dob" class="form-group required"> 
								<label for="id_name" class="control-label col-md-4  requiredField">Date Of Birth<span class="asteriskField">*</span> </label> 
								<div class="controls col-md-8 "> 
									<input class="input-md textinput textInput form-control" type="date" id="dob" name="dob" placeholder="Your Frist name and Last name" style="margin-bottom: 10px" type="text" required/>
								</div>
							</div>
						<div id="div_id_gender" class="form-group required">
						<label for="id_gender"  class="control-label col-md-4  requiredField"> Gender<span class="asteriskField">*</span> </label>
						<div class="controls col-md-8 "  style="margin-bottom: 10px"
							 <label class="radio-inline"> <input type="radio" name="gender" id="gender" value="male"  style="margin-bottom: 10px;" checked="checked">Male</label>
							 <label class="radio-inline"> <input type="radio" name="gender" id="gender" value="female"  style="margin-bottom: 10px;">Female </label>
							 
						</div>
					</div>
					<div id="div_id_user_type" class="form-group required">
							<label for="div_id_user_type"  class="control-label col-md-4  requiredField"> User Type<span class="asteriskField">*</span> </label>
							<div class="controls col-md-8 "  style="margin-bottom: 10px">
								 <label class="radio-inline"> <input type="radio" name="isAdmin" id="isAdmin" value="1"  style="margin-bottom: 10px" checked="checked">Admin</label>
								 <label class="radio-inline"> <input type="radio" name="isAdmin" id="isAdmin" value="0"  style="margin-bottom: 10px">User </label>
							</div>
					</div>
					
				
					
					<div class="form-group">
						<div class="controls col-md-offset-4 col-md-8 ">
							<div id="div_id_terms" class="checkbox required">
								<!-- <label for="id_terms" class=" requiredField">
									 <input class="input-ms checkboxinput" id="id_terms" name="terms" style="margin-bottom: 10px" type="checkbox" />
									 Agree with the terms and conditions
								</label>
							</div>  -->
								
						</div>
					</div> 
					<div class="form-group"> 
						<div class="aab controls col-md-4 "></div>
						<div class="controls col-md-8 ">
							<button type="submit" name="Signup" value="Signup" class="btn btn-primary btn btn-info" id="submit-id-signup" style="width:150px;">Submit</button>
							
						</div>
					</div> 
						
				<!-- </form> -->

			</form>
		</div>
	</div>
</div> 		
{%endif%}			
{% endblock %}